<!-- <!DOCTYPE html>
Author: Daryll Osis
Date: April 9, 2018
Description: This program is just a registration form that has validations. 
             has to meet the requirements to be able to register.  -->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body>
    <div class="wrapper">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <p style="color: red">{{message}}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="formdiv">
            <form action="/register" method="post">
                <label>First Name: </label><input type="text" name="first_name"><br>
                <label>Last Name: </label><input type="text" name="last_name"><br>
                <label>Email: </label><input type="text" name="email"><br>
                <label>Password: </label><input type="text" name="password"><br>
                <label>Confirm Password </label><input type="text" name="confirm_password"><br>
                <input class ="formbutton" type="submit" value="Submit">
            </form>
        </div>


    </div>
</body>
</html>

<!-- 
<div class="wrapper">
        <div class="formdiv">
            <form action="/register" method="post">
                <table>
                    <tr>
                        <td>
                            <label>First Name: </label><input type="text" name="first_name">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Last Name: </label><input type="text" name="last_name">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Email: </label><input type="text" name="email">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Password: </label><input type="text" name="password">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Confirm Password </label><input type="text" name="confirm_password">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class ="formbutton" type="submit" value="Submit">
                        </td>
                    </tr>
                </table>
            </form>
        </div> -->